@charset "UTF-8";
.jf-loading {
  /*載入中不顯示*/
}
.jf-loading .xingothic-tc-w4, .jf-loading .wcl-06 {
  opacity: 0;
  visibility: hidden;
}

.jf-active {
  /*如果處理成功，直接顯示*/
}
.jf-active .xingothic-tc-w4, .jf-active .wcl-06 {
  opacity: 1;
  visibility: visible;
}

.jf-inactive {
  /*如果處理失敗，直接顯示*/
}
.jf-inactive .xingothic-tc-w4, .jf-inactive .wcl-06 {
  opacity: 1;
  visibility: visible;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.wcl-06 {
  font-weight: 700 !important;
}

.custom-find-car {
  padding: 30px 0;
}

.find-car-wrapper {
  display: block;
  margin: 0 auto;
  width: 320px;
}
.find-car-wrapper img {
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, select, input, textarea {
  color: #222;
}

html, body {
  background: #e9dfd4;
  min-height: 100%;
}

.main-container {
  *zoom: 1;
  max-width: 1280px;
  max-width: 80rem;
  _width: 1280px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
.main-container:after {
  content: "";
  display: table;
  clear: both;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar-default {
  background: #50b599;
}
header .navbar-default .navbar-nav {
  height: 70px;
}
header .navbar-default .navbar-brand {
  font-size: 24px;
  line-height: 40px;
  height: 70px;
  color: #fff;
}
header .navbar-default .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.87);
}
header .nav > li > a {
  padding: 0;
}
header .navbar-form {
  margin-top: 18px;
  margin-bottom: 18px;
}
header .navbar-form .form-group {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  padding-right: 34px;
  position: relative;
}
header .navbar-form .form-group input {
  border-radius: 0;
  width: 100%;
}
header .navbar-form .form-group .btn {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 0;
}
header .custom-nav {
  padding: 18px;
}
header .navbar-default .navbar-nav > li > a.submit-btn {
  background: transparent;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-color: #fff;
  border-radius: 50%;
  padding: 0;
  margin-right: 18px;
  color: #fff;
  outline: none;
}
header .navbar-default .navbar-nav > li > a.submit-btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
header .navbar-default .navbar-nav > li > a.btn-login {
  height: 38px;
  padding: 0 18px;
  line-height: 38px;
  border: 1px solid #fff;
  color: #fff;
}
header .navbar-default .navbar-nav > li > a.btn-login:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}
header .navbar-default .navbar-nav > li > a.github {
  color: #fff;
  background-color: #000;
  height: 38px;
  border-radius: 8px;
  line-height: 38px;
  padding: 0 10px;
  margin-right: 16px;
}
header .navbar-default .navbar-nav > li > a.github i {
  margin-right: 5px;
}
header .navbar-nav > li > a.user-profile {
  padding: 0;
  padding-left: 45px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid #fff;
  line-height: 38px;
  text-align: right;
  color: #fff;
  padding-right: 8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
header .navbar-nav > li > a.user-profile:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
header .navbar-nav > li > a.user-profile .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
}

#submit-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

#submit-form, #get-link {
  max-width: 600px;
  margin: 0 auto;
  background: #f1f1f1;
  border-radius: 20px;
  margin-top: 10%;
  box-sizing: border-box;
  padding: 40px;
  background: #e9dfd4;
}
#submit-form .img-wrapper, #get-link .img-wrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  background: #ccc;
  border-radius: 10px;
  border: 1px solid #389b74;
}
#submit-form .img-wrapper .img, #get-link .img-wrapper .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  color: #fff;
  text-align: center;
}
#submit-form .img-wrapper .img i, #get-link .img-wrapper .img i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -37px;
  margin-top: -35px;
}
#submit-form .ul-list, #submit-form .list, #get-link .ul-list, #get-link .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#submit-form label, #get-link label {
  display: block;
  font-size: 16px;
  color: #389b74;
}
#submit-form .submit-input, #get-link .submit-input {
  width: 100%;
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: white;
  -moz-box-shadow: 1px 1px 1px 0 lightgray inset;
  -webkit-box-shadow: 1px 1px 1px 0 lightgray inset;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  height: 34px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  outline: none;
  padding-left: 6px;
}

#submit-form input[type="submit"] {
  margin-top: 10px;
  background: #50b599;
  color: #fff;
  padding: 18px;
  border-radius: 10px;
  border: 0;
}

#get-link {
  margin-top: 30%;
  height: auto;
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}
#get-link .list {
  padding-right: 50px;
  position: relative;
}
#get-link .list .submit-input {
  border-radius: 10px 0 0 10px;
}
#get-link .list button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 34px;
  border-radius: 0 10px 10px 0;
  border: 0;
}

tags-input .tags .tag-item {
  background: #50b599;
  border-color: #50b599;
}

tags-input .tags .tag-item .remove-button {
  color: #fff;
}

.pageload-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.pageload-overlay.show {
  visibility: visible;
}

.pageload-overlay svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pageload-overlay svg path {
  fill: #fff;
}

.pageload-overlay::after,
.pageload-overlay::before {
  content: '';
  position: fixed;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
  transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
  background: #6cc88a;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-animation: moveRight 0.6s linear infinite alternate;
  animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
  background: #4fc3f7;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-animation: moveLeft 0.6s linear infinite alternate;
  animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
  to {
    -webkit-transform: translateX(20px);
  }
}
@keyframes moveRight {
  to {
    transform: translateX(20px);
  }
}
@-webkit-keyframes moveLeft {
  to {
    -webkit-transform: translateX(-20px);
  }
}
@keyframes moveLeft {
  to {
    transform: translateX(-20px);
  }
}
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.info-list-wrapper {
  padding: 120px 30px 30px 30px;
}

.info-list {
  overflow: hidden;
  margin: 16px 0;
}
.info-list ul {
  padding: 0;
  margin: 0;
}
.info-list li {
  list-style-type: none;
}

h2.info-title {
  margin-top: 0;
  display: inline-block;
}

.info-content {
  height: 106px;
  overflow: hidden;
}
.info-content p {
  margin: 0;
}

.info-img {
  width: 106px;
  height: 106px;
  background-image: url("/img/no-img.png");
  background-size: cover;
  background-color: #f1f1f1;
  float: left;
  margin-left: 16px;
  border-radius: 8px;
  margin-right: 16px;
  overflow: hidden;
}
.info-img .inner-info-img {
  width: 100%;
  height: 100%;
}

.info-vote {
  display: inline-block;
  float: left;
}

.vote-count {
  display: block;
  width: 40px;
  height: 20px;
  overflow: hidden;
}

.btn.btn-default.btn-vote {
  padding: 6px;
  border: 1px solid #389974;
  border-radius: 8px;
  background: transparent;
  color: #389974;
}
.btn.btn-default.btn-vote.up {
  margin-bottom: 10px;
}

.btn-vote {
  text-align: center;
}
.btn-vote i.fa {
  display: block;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
