<!DOCTYPE html>
<html ng-app="AngularChromeEx" ng-csp>
    <head>
        <link rel="stylesheet" href="css/popup.css">
        <link rel="stylesheet" href="js/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="js/ng-tags-input/ng-tags-input.bootstrap.css">
    </head>
    <body id="popup">
        <header>
            <h1>Changee Search</h1>
        </header>

        <div ng-controller="PageController">
            <form id="submit-form" ng-click="$event.stopPropagation();" ng-submit="submitInfo(info, tags)">
                <div class="img-wrapper" style="background: url({{image}});background-size: cover;">
                  <div class="img" ng-hide="image">
                    <i class="fa fa-image fa-5x"></i>
                  </div>
                </div>

                <ul class="ul-list">
                  <li class="list">
                    <label for="link">網址連結</label>
                    <input class="submit-input" type="text" ng-model="info.link" name="link">
                  </li>
                  <li class="list">
                    <label ng-show="info.title" for="title">標題</label>
                    <input class="submit-input" ng-show="info.title" type="text" name="title" ng-model="info.title">
                  </li>
                  <li class="list">
                    <label ng-show="info.description" for="description">描述</label>
                    <input class="submit-input" ng-show="info.description" type="text" name="description" ng-model="info.description">
                  </li>
                  <li class="list" ng-show="tags">
                    <label for="tag">標籤</label>
                    <tags-input ng-model="tags" min-length="2"></tags-input>
                  </li>
                  <li class="list">
                    <input ng-disabled="!info" type="submit" value="送出">
                  </li>
                </ul>
              </form>
            
        </div>

        <script src="js/lib/jquery-1.8.2.min.js"></script>
        <script src="js/lib/angular.min.js"></script>

        <script src="js/ng-tags-input/ng-tags-input.js"></script>
        
        <script src="js/app/app.js"></script>
        <script src="js/app/popup.js"></script>
    </body>
</html>